@inject HttpClient Http
<AuthorizeView>
    <span>Current Tenant: @tenant.Name</span>
</AuthorizeView>
@code {
    TenantDto tenant = new TenantDto();

    [CascadingParameter]
    Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            var apiResponse = await Http.GetJsonAsync<ApiResponseDto<TenantDto>>("api/admin/tenant");
            if (apiResponse.StatusCode == Status200OK)
            {
                tenant = apiResponse.Result;
            }
        }
    }
}