<LayoutView Layout="typeof(MainLayout)">
    <LoadingBackground ShowLogoBox="true">
            <h1>Page not found</h1>
            <label>Please check the URL or</label><br />
    </LoadingBackground>
</LayoutView>