@inject IStringLocalizer<Global> L

<div class="loading-container">
    <MudIcon Icon="@Icons.Material.Filled.Error" Color="Color.Primary" Style="font-size: 7em" />
    <h1>@L["This address does not exist"]</h1>
</div>