@inherits LayoutComponentBase

    <div class="triangle-container">
        <div class="triangles">
        </div>
    </div>
    <div class="login-container">
        <div class="login-body">
            @Body
        </div>
    </div>

