@inject IStringLocalizer<Global> L
@using System
@inject IApiClient apiClient
@inject IViewNotifier viewNotifier

<h3>Configuration</h3>

<MatAccordion>
    <MatExpansionPanel>
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Required</MatExpansionPanelHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
            <p>Select the Machine Learning task AutoML should perform:</p>
            <MatChipSet Choice="true" SelectedChipChanged="@OnChipChanged">
            </MatChipSet>

            @if (_columnNames != null)
            {
                <MatSelectItem Items="@_columnNames.ColumnNames" TValue="string" ValueChanged="@OnTargetChanged"></MatSelectItem>
            }
            <MatChipSet Filter="true">
                <MatChip Label="Wedges" IsCheckable="true"></MatChip>
                <MatChip Label="Fries" IsCheckable="true"></MatChip>
                <MatChip Label="Baby carrots" IsCheckable="true"></MatChip>
                <MatChip Label="Roasted veggies" IsCheckable="true"></MatChip>
                <MatChip Label="Salad" IsCheckable="true"></MatChip>
                <MatChip Label="Cheese" IsCheckable="true"></MatChip>
            </MatChipSet>
        </MatExpansionPanelDetails>
    </MatExpansionPanel>
    <MatExpansionPanel>
        <MatExpansionPanelSummary>
            <MatExpansionPanelHeader>Optional</MatExpansionPanelHeader>
            <MatExpansionPanelSubHeader>For experts</MatExpansionPanelSubHeader>
        </MatExpansionPanelSummary>
        <MatExpansionPanelDetails>
            <MatChipSet Choice="true" SelectedChipChanged="@OnChipChanged">

            </MatChipSet>
        </MatExpansionPanelDetails>
    </MatExpansionPanel>
</MatAccordion>


<h4>Optional</h4>

@code {
    //private GetTasksResponseDto _tasks;
    private GetCompatibleAutoMlSolutionsResponseDto _compatibleAutoMl;
    private GetTabularDatasetColumnNamesResponseDto _columnNames;
    [Parameter]
    public StartAutoMLRequestDto AutoMLRequest { get; set; }

    [Parameter]
    public EventCallback<StartAutoMLRequestDto> AutoMLRequestChanged { get; set; }
    /// <summary>
    /// Trigger to start examination for IsNextStepApproved in Parent
    /// </summary>
    [Parameter]
    public EventCallback CheckForNextStepCallback { get; set; }

    protected override async void OnInitialized()
    {
        await LoadData();
        AutoMLRequest.Configuration = new AutoMLTabularDataConfiguration();
    }

    private async void OnChipChanged(MatChip newChip)
    {
        AutoMLRequest.Task = newChip.Label;
        UpdateParent();
    }

    private async void OnTargetChanged(string value)
    {
        ((AutoMLTabularDataConfiguration)AutoMLRequest.Configuration).Target = value;
        UpdateParent();
    }

    private async void UpdateParent()
    {
        await AutoMLRequestChanged.InvokeAsync(AutoMLRequest);
        await CheckForNextStepCallback.InvokeAsync();
    }

    private async Task LoadData()
    {
        try
        {

            GetTabularDatasetColumnNamesRequestDto columnRequest = new GetTabularDatasetColumnNamesRequestDto { DatasetName = AutoMLRequest.DatasetName };
            ApiResponseDto apiResponse = await apiClient.GetTabularDatasetColumnNames(columnRequest);
            if (apiResponse.IsSuccessStatusCode)
            {
                _columnNames = Newtonsoft.Json.JsonConvert.DeserializeObject<GetTabularDatasetColumnNamesResponseDto>(apiResponse.Result.ToString());
                StateHasChanged();
                viewNotifier.Show(apiResponse.Message, ViewNotifierType.Success, L["Operation Successful"]);
            }
            else
            {
                viewNotifier.Show(apiResponse.Message + " : " + apiResponse.StatusCode, ViewNotifierType.Error, L["Operation Failed"]);
            }
            _compatibleAutoMl = new GetCompatibleAutoMlSolutionsResponseDto();
            Dictionary<string, string> dictionary = new Dictionary<string, string>();
            dictionary.Add("task","classification");
            GetCompatibleAutoMlSolutionsRequestDto compatibleAutoMlRequest = new GetCompatibleAutoMlSolutionsRequestDto { Configuration = dictionary };
            apiResponse = await apiClient.GetCompatibleAutoMlSolutions(compatibleAutoMlRequest);

            if (apiResponse.IsSuccessStatusCode)
            {
                _compatibleAutoMl = Newtonsoft.Json.JsonConvert.DeserializeObject<GetCompatibleAutoMlSolutionsResponseDto>(apiResponse.Result.ToString());
                StateHasChanged();
                viewNotifier.Show(apiResponse.Message, ViewNotifierType.Success, L["Operation Successful"]);
            }
            else
            {
                viewNotifier.Show(apiResponse.Message + " : " + apiResponse.StatusCode, ViewNotifierType.Error, L["Operation Failed"]);
            }
        }
        catch (Exception ex)
        {
            viewNotifier.Show(ex.GetBaseException().Message, ViewNotifierType.Error, L["Operation Failed"]);
        }
    }
}
