@page "/admin/roles"
@attribute [Authorize]
@inject HttpClient Http
@inject IAuthorizationService AuthorizationService
@inject IdentityAuthenticationStateProvider authStateProvider
@inject IMatToaster matToaster
@inject AppState appState

<h1>Roles</h1>
<p>Roles management Screen. Under construction</p>

@code {
  
}
