@inherits Blazor.Fluxor.Components.FluxorComponent
@inject IState<BlazorBoilerplate.CommonUI.FlightFinder.Store.AppState> AppState

<datalist id="airports">
	@foreach (var airport in AppState.Value.Airports)
	{
		<option value=@airport.Code>@airport.DisplayName (@airport.Code)</option>
	}
</datalist>