@inject IUriHelper uriHelper

    <nav class="app-sidebar mdc-theme--surface">
        <MatListGroup>
            <MatList SingleSelection="true">
                <MatListItem Href="@uriHelper.ToAbsoluteUri(" ").AbsoluteUri">
                    <MatIcon>home</MatIcon> Home
                </MatListItem>
                <MatListItem Href="@uriHelper.ToAbsoluteUri("counter").AbsoluteUri">
                    <MatIcon>exposure_plus_1</MatIcon> Counter
                </MatListItem>
                <MatListItem Href="@uriHelper.ToAbsoluteUri("fetchdata").AbsoluteUri">
                    <MatIcon>cloud_download</MatIcon> Fetch data
                </MatListItem>
                <MatListItem Href="@uriHelper.ToAbsoluteUri("contributors").AbsoluteUri">
                    <MatIcon>people</MatIcon> Contributors
                </MatListItem>
            </MatList>
        </MatListGroup>
    </nav>