@page "/"

<h1><img src="_content/BlazorBoilerplate.CommonUI/images/blazor-boilerplate-title.png" alt="Loading" title="Cognitive Science Program-UoK" style="max-width: 100%;" /></h1>

<p>Welcome to the CogSciUoK website</p>
<p>
    <strong>Cognitive Science Program-UoK </strong> is now fairly mature repository thanks to time and contributors. Our goal is to be an <strong>enterprise level solution</strong>, to jump start your new web project with Blazor.
    It's based on Blazor &amp; Razor components for both Client-Side [WebAssembly] (CSB) or Server-Side (SSB) with the .Net Core Framework 3.1+.
    Expect a lot of changes in the future as Blazor is growing and changing rapidly. <a href="http://uok.ac.ir" target="_blank"> View the live server-side API</a>
</p>
<p>
    Hello
</p>
<p> to <a href="http://uok.ac.ir" target="_blank">MatBlazor</a> as well to obtain UI changes that are needed for the theme. With more support each project can grow faster. Please contribute, or at minimum star the repositories on Github</p>
<p>
    <MatButton Link="http://uok.ac.ir"><i class="fa fa-cc-paypal"></i>&nbsp; Donate</MatButton>- Help support this repo / code and hosting costs. Other devs are charging $30-$1500 to download their code with similar functionality.
</p>
<p>
    <MatButton Link=""><i class="fa fa-github" aria-hidden="true"></i>&nbsp;  Github Repository / Contribute</MatButton>- Contribute to this repo to help it grow!
</p>
<hr />
<h2>Authorization / Identity</h2>
<p>
    Take notice of the disabled menu items. If you <a href="/account/login">Login</a> [Username: <strong>user</strong> | Password: <strong>user123</strong>] or  [Username: <strong>admin</strong> | Password: <strong>admin123</strong>] you can view those pages.
    As Blazor grows the security features in this starter template will as well.
</p>
<hr />
<h2>Cognitive Science Program-UoK Highlights:</h2>
<p>
    <ul class="list-unstyled">
        <li><i class="fa fa-check"></i> BA  <a href="http://uok.ac.ir" target="_blank"> Students</a></li>
        <li><i class="fa fa-check"></i> MA <a href="http://uok.ac.ir" target="_blank">Students</a></li>

    </ul>
</p>
<hr />
<h2>Cognitive Science Program-UoK Roadmap:</h2>
<p>
    Looking for contributors in the following areas:
    <ul>
        <li>Research. (I so far do not like EF)</li>
        <li>Tools</li>
        <li>Papers</li>
        <li>Tests</li>
    </ul>
</p>

<p>
    Psych
</p>
<hr />
<h3>UoK</h3>
<ul>
    <li>CS</li>
    <li>CP</li>
    <li>CN</li>
    <li>CM</li>

</ul>
<hr />
<h3> ASo</h3>
<p>
    History
</p>
<p>
    Goal
</p>

<MatSnackbar @bind-IsOpen="@lazySnackbarIsOpen">
    <MatSnackbarContent>If you intersted in Cognitive Science Program-UoK <a href="http://uok.ac.ir" target="_blank">star on GitHub</a>.</MatSnackbarContent>
    <MatSnackbarActions>
        <MatIconButton Icon="@MatIconNames.Stars" Link="http://uok.ac.ir" style="color: white !important;" target="_blank"></MatIconButton>
    </MatSnackbarActions>
</MatSnackbar>

@code{
    bool lazySnackbarIsOpen = false;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await Task.Delay(TimeSpan.FromSeconds(3)).ContinueWith((_) =>
        {
            this.lazySnackbarIsOpen = true;
        });
    }

    public void Dispose()
    {
    }
}
