@page "/sponsors"

<h1>Sponsors / Financial Donations - Greatly Appeciated!</h1>
<ul>
    <li>Ganesh M. - July 25, 2019</li>
    <li>Eugene M. - Sept 27, 2019</li>
    <li><a href="https://www.responsiveedge.com/" target="_blank">Responsive Edge, LLC</a> | Brian G. - Oct 14, 2019</li>
    <li>Daniel W. - Oct. 27, 2019</li>
    <li>Zachary P. - Dec. 3, 2019</li>
    <li>Stephen H. - Feb. 11, 2020</li>
    <li>Stephen H. - Mar. 11, 2020</li>
    <li>Serghei F. - Apr. 9, 2020</li>
    <li>Gabriel M. - May. 15, 2020</li> 
    <li>Matthew R. - May. 17, 2020</li>    
</ul>
<p>
    <MatButton Link="https://www.paypal.me/enkodellc"><i class="fa fa-cc-paypal"></i> Donate</MatButton>&nbsp; - Help support this repo / code and hosting costs. Other devs are charging $30+ to download their code with similar functionality.
</p>
<hr />
<h2>Code Contributors</h2>
<ul>
    <li>Keith Fimreite / Enkode - <a href="https://github.com/enkodellc" target="_blank">https://github.com/enkodellc</a> | <a href="http://keithfimreite.com" target="_blank">http://keithfimreite.com</a></li>
    <li>Daniel Bunting - <a href="https://github.com/DanielBunting" target="_blank">https://github.com/DanielBunting</a></li>
    <li>Maciej Targoński - <a href="https://github.com/acid12" target="_blank">https://github.com/acid12</a></li>
    <li>responsive-edge - <a href="https://www.responsiveedge.com/" target="_blank">Responsive Edge, LLC</a></li>
    <li>Mark Stega - <a href="https://github.com/markstega" target="_blank">https://github.com/markstega</a></li>
    <li>NPadrutt - <a href="https://github.com/NPadrutt" target="_blank">https://github.com/NPadrutt</a> | <a href="https://www.apply-solutions.com/en/" target="_blank">Apply Solutions</a></li>
    <li>npraskins - <a href="https://github.com/npraskins" target="_blank">https://github.com/npraskins</a></li>
    <li>Anthony Pearson - <a href="https://github.com/ajgoldenwings" target="_blank">https://github.com/ajgoldenwings</a> | <a href="http://www.anthonyjamespearson.com/" target="_blank">http://www.anthonyjamespearson.com/</a>  </li>
    <li>Chris Sainty - <a href="https://github.com/chrissainty" target="_blank">https://github.com/chrissainty</a> | <a href="https://chrissainty.com" target="_blank">https://chrissainty.com</a></li>
    <li>Marcos Alves - <a href="https://github.com/marcoscavaleiro" target="_blank">https://github.com/marcoscavaleiro</a></li>
    <li>Hans M - <a href="https://github.com/SeppPenner" target="_blank">https://github.com/SeppPenner</a> | <a href="https://franzhuber23.blogspot.de/" target="_blank">https://franzhuber23.blogspot.de/</a></li>
    <li>Mobin - <a href="https://github.com/mobinseven" target="_blank">https://github.com/mobinseven</a></li>
    <li>Dennis - <a href="https://github.com/oneparameter" target="_blank">https://github.com/oneparameter</a></li>
    <li>Clubber Lang - <a href="https://github.com/vd3d" target="_blank">https://github.com/vd3d</a></li>
    <li>Reese King - <a href="https://github.com/kingmercian" target="_blank">https://github.com/kingmercian</a></li>
    <li>John Barrett - <a href="https://github.com/274188A" target="_blank">https://github.com/274188A</a></li>
    <li>marcotana - <a href="https://github.com/marcotana" target="_blank">https://github.com/marcotana</a> </li>
    <li>Soomon - <a href="https://github.com/soomon" target="_blank">https://github.com/soomon</a> </li>
    <li>Giovianni Quarella - <a href="https://github.com/soomon" target="_blank">https://github.com/GioviQ</a> | <a href="https://www.quarella.net/" target="_blank">https://www.quarella.net/</a> </li>
    <li>Noah Praskins - <a href="https://github.com/np-at" target="_blank">https://github.com/np-at</a> </li>
    <li>Kyle - <a href="https://github.com/np-at" target="_blank">https://github.com/Kronos11</a> </li>
    <li>Stephen M - <a href="https://github.com/np-at" target="_blank">https://github.com/justSteve</a> </li>
</ul>
<p>
    <MatButton Link="https://github.com/enkodellc/blazorboilerplate"><i class="fa fa-github" aria-hidden="true"></i>&nbsp;  Github Repository / Contribute</MatButton> - Contribute to this repo to help it grow!
</p>
