@page "/"
@inject IJSRuntime JSRuntime
@using System.Threading;
@inject NavigationManager navigationManager
@using Microsoft.AspNetCore.Identity
@using System.Text.RegularExpressions;
@using System.Linq;

@using System.IO;
@using System.Net.Http.Headers

@inject HttpClient client


<h1>Hi and Welcome!</h1>
<h2>!به خێر بێن</h2>
<h3>!خوش آمدید</h3>

<button class="btn btn-primary"
        @onclick="NavigateToUrlAsync">
    جهت شرکت در پژوهش یا استفاده از امکانات سایت بهتر است با کلیک به صفحه ی ثبت نام بروید!
</button>

@asoUser

@*
      <button class="btn btn-primary"
            @onclick="NavigateToUrlAsync">
        شرکت در پژوهش
    </button>


*@

@code{

    [Inject]
    private AuthenticationStateProvider authStateProvider { get; set; }

    Task<AuthenticationState> authenticationStateTask { get; set; }

    public string asoUser = "aso";
    //public string asoUser2 = "aso2";


    //UserInfoDto UserInfo { get; set; } = new UserInfoDto();



    //ApplicationUser currentUser;

    // protected async override Task OnInitializedAsync()
    // {


    // }

    public async Task NavigateToUrlAsync()

    {
        // var user = (await authenticationStateTask).User;
        // asoUser = user.ToString();
        // if (currentUser !=null)
        // {
        //   asoUser = currentUser.UserName;
        //   StateHasChanged();
        //}
        var UserInfo = await ((IdentityAuthenticationStateProvider)authStateProvider).GetUserViewModel();

        if (UserInfo.IsAuthenticated)
        {
            asoUser = UserInfo.UserName.ToString();
            StateHasChanged();

            //  if (UserInfo.IsAuthenticated)
            // {
            navigationManager.NavigateTo("");
            //}

        }

        else
        {
            navigationManager.NavigateTo("account/login");

        }



    }


}