@page "/contributors"

<h1>Major Contributors</h1>

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell">
            <MatCard Class="contrib-card">
                <img src="https://avatars2.githubusercontent.com/u/2935721?s=460&v=4" />
                <h3>Keith / Enkode</h3>
                <a href="https://github.com/enkodellc" target="_blank">https://github.com/enkodellc</a>
            </MatCard>
        </div>
        <div class="mat-layout-grid-cell">
            <MatCard Class="contrib-card">
                <img src="https://avatars3.githubusercontent.com/u/7605234?s=460&v=4"/>
                <h3>Maciej Targoński</h3>
                <a href="https://github.com/acid12" target="_blank">https://github.com/acid12</a>
            </MatCard>
        </div>
        <div class="mat-layout-grid-cell"></div>
    </div>
</div>



