@page "/contributors"

<h1>Major Contributors</h1>

<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell">
            <MatCard>
                <h1>Keith / Enkode</h1>
                <a href="https://github.com/enkodellc" target="_blank">https://github.com/enkodellc</a>
            </MatCard>
        </div>
        <div class="mat-layout-grid-cell"></div>
        <div class="mat-layout-grid-cell"></div>
        <div class="mat-layout-grid-cell"></div>
    </div>
</div>



