@page "/sponsors"

<h1>Sponsors / Financial Donations</h1>
<ul>
    <li>Ganesh M. - July 25, 2019</li>
</ul>
<p>
    <MatButton Link="https://www.paypal.me/enkodellc"><i class="fa fa-cc-paypal"></i> Donate</MatButton>&nbsp; - Help support this repo / code and hosting costs. Other devs are charging $30+ to download their code with similar functionality.
</p>
<hr />
<h2>Code Contributors</h2>
<ul>
    <li>Keith / Enkode - <a href="https://github.com/enkodellc" target="_blank">https://github.com/enkodellc</a> | <a href="http://keithfimreite.com" target="_blank">http://keithfimreite.com</a></li>
    <li>npraskins - <a href="https://github.com/npraskins" target="_blank">https://github.com/npraskins</a></li>
    <li>Anthony Pearson - <a href="https://github.com/ajgoldenwings" target="_blank">https://github.com/ajgoldenwings</a> | <a href="http://www.anthonyjamespearson.com/" target="_blank">http://www.anthonyjamespearson.com/</a>  </li>
    <li>Maciej Targoński - <a href="https://github.com/acid12" target="_blank">https://github.com/acid12</a></li>
    <li>Chris Sainty - <a href="https://github.com/chrissainty" target="_blank">https://github.com/chrissainty</a> | <a href="https://chrissainty.com" target="_blank">https://chrissainty.com</a></li>
    <li>Marcos Alves - <a href="https://github.com/marcoscavaleiro" target="_blank">https://github.com/marcoscavaleiro</a></li>
    <li>Hans M - <a href="https://github.com/SeppPenner" target="_blank">https://github.com/SeppPenner</a> | <a href="https://franzhuber23.blogspot.de/" target="_blank">https://franzhuber23.blogspot.de/</a></li>
</ul>
<p>
    <MatButton Link="https://github.com/enkodellc/blazorboilerplate"><i class="fa fa-github" aria-hidden="true"></i>&nbsp;  Github Repository / Contribute</MatButton> - Contribute to this repo to help it grow! 
</p>
