html, body {
    font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

app {
    position: relative;
    display: flex;
    /*flex-direction: column;*/
}

/** scroll bar */
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #e1e1e1;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-image: linear-gradient(to bottom, rgba(17,17,17,1) 0%,rgba(76,76,76,1) 23%,rgba(76,76,76,1) 23%,rgba(71,71,71,1) 72%,rgba(17,17,17,1) 99%);
}

/* material theme */
:root {
    --mdc-theme-primary: #5D2E8F;
    --mdc-theme-secondary: #fbaf41;
    /*--mdc-theme-on-primary: #495f90;
    --mdc-theme-on-secondary: #ffe172;*/
    --mdc-theme-text-primary: #ffffff;
    --mdc-theme-text-secondary: #333;
    --mdc-theme-text-on-primary: #001037;
    --mdc-theme-text-on-secondary: #c48003;
    /*--mdc-theme-surface: #263238; */
}

.mdc-icon-button .fa{
    font-size:30px;
}

/* Loading page */
.triangle-container, .login-container {
    left: calc(-50vw + 50%);
    position: fixed;
    right: calc(-50vw + 50%);
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: #5D2E8F;
}

.triangles {
    background-image: url("../images/triangles.svg");
    background-size: cover;
    height: 100%;
    bottom: 0;
    left: 0;
    mix-blend-mode: hard-light;
    position: fixed;
    right: 0;
    top: 0;
    background-position: center center;
}

.loading-container {
    position: relative;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    margin:10% auto;
}

/* Login page */
.login-body {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
    padding: 50px 0 20px;
}

.logo {
    text-align: center;
}

    .logo h4 {
        margin: 20px auto;
    }

.login-container, .loading-container, .mdc-card {
    border-radius: 0 !important;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19) !important;
}

    .login-container .mdc-card {
        padding: 40px 30px;
        width: 500px;
    }

    .login-container .mat-accordion {
        width: 500px;
    }

    .additional-info {
        color: #636c72;
        background-color: rgba(0,0,0,.04);
        padding: 10px 6px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        font-size: .875rem;
    }

.login-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 40px;
    align-content: center;
}

.login-body {
    flex-direction: column;
    max-width: 450px;
    margin: 0 auto;
}

.login-body .mat-accordion .mat-expansion-panel__header{
flex-basis:80%;
}

    .login-body .mat-expansion-panel {
        background-color: #f4f4f4 !important;
    }


/* app bar */
.mdc-top-app-bar__row {
    background-color: #fff;
    color: #404040;
}
.mdc-icon-button {
    color: #5D2E8F !important;
}

.logo-img {
    height: 42px;
}

.mdc-top-app-bar {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    color: white;
    z-index: 7 !important;
    position: sticky !important;
    top: 0;
}

.mdc-top-app-bar__title,
.mdc-top-app-bar__title a {
    color: white;
}

.sub-menu {
  visibility: hidden; /* hides sub-menu */
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.hidden-mdc-down nav a {
  color: #E00;
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
}

.hidden-mdc-down nav a:hover {
  color: #F55;
}

.hidden-mdc-down nav ul,
.hidden-mdc-down nav ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden-mdc-down nav > ul {
  background: #EEE;
  text-align: center;
}

  .hidden-mdc-down nav > ul > li {
    display: inline-block;
    border-left: solid 1px #aaa;
  }

    .hidden-mdc-down nav > ul > li:first-child {
      border-left: none;
    }

.sub-menu {
  background: #DDD;
}


/* page */
.container-fluid {
  min-height: 350px;
  padding: 20px 30px;
}

.page-footer {
    display: flex;
    flex: 0 0 auto;
    background: #fff;
    color: #4d4d4d;
    padding: 9px 12px 9px 18px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.21);
    margin-top: 30px;
    font-size: 12px;
}

.flex-1 {
    flex: 1;
}

/* Drawer */
.full .mdc-drawer
.full .app-sidebar {
  width: 256px;
  transition: width 0.4s;
}

.full .mdc-drawer.mdc-drawer--open:not(.mdc-drawer--closing) + .mdc-drawer-app-content {
  margin-left: 256px;
  transition: margin 0.4s;
}

.mini .mdc-drawer,
.mini .app-sidebar {
  width: 52px;
  transition: width 0.4s;
}

  .mini .mdc-drawer.mdc-drawer--open:not(.mdc-drawer--closing) + .mdc-drawer-app-content {
    margin-left: 52px;
    transition: width 0.4s;
  }

  .mini .drawer-profile span,
  .mini .drawer-logo .brand,
  .mini .app-sidebar span {
    display: none;
  }

.mini .miniHidden {
  display: none;
}
  .mini .drawer-footer .mdc-button {
    min-width: 36px;
  }

  .mdc-drawer__content {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    color: #FFF;
  }

.mdc-drawer .mdc-list-item {
    margin: 8px 0 !important;
    border-radius: 0 !important;
    color: #fff !important;
}

.mdc-drawere .mdc-list-item:active {
    -webkit-box-shadow: inset 3px 0 0 #886ab5;
}

.mdc-drawer .mdc-list-item--disabled {
    color: #775e91 !important;
}

.mdc-drawer a.mdc-list-item {
    padding: 0 14px !important;
}

.mdc-drawer .mdc-list-item--selected {
    border-left: solid 3px rgba(255, 255, 255, .5);
}

.drawer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5D2E8F;
    height: 64px;
    color: #fff;
}

.drawer-logo a{
    color:#fff;
}

.drawer-header {
}

.drawer-profile {
    padding: 16px;
    border-bottom: solid 1px #777;
    background-image: url("../images/profile-bg.jpg");
    background-size: cover;
    color: #fff;
    font-size: 12px;
}

.app-sidebar .material-icons {
    margin-right: 8px;
}

.mdc-drawer {
    /*margin-top: 64px;*/
    box-shadow: 2px 0 5px 0 rgba(0,0,0,0.16);
}

.mdc-drawer-app-content {
    background-color: #f5f5f5;
}

.mat-drawer-container-responsive {
    display: flex;
    flex-direction: row;
}

    .mat-drawer-container-responsive .mdc-drawer {
        width: unset !important;
        position: relative;
    }

    .mat-drawer-container-responsive .mdc-drawer.mdc-drawer--open:not(.mdc-drawer--closing) + .mdc-drawer-app-content {
        margin-left: unset !important;
        position: relative;
        flex: 1;

    }

.mdc-top-app-bar--fixed-adjust {
    padding-top:0 !important;
    overflow: hidden;
}

.drawer-footer {
    position: absolute;
    text-align: left;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: solid 1px #AAA;
    font-size: 12px;
    padding:0 12px 0 12px;
    background-color:lightgray
}

/*  forms */
fieldset {
    border: none;
}

hr {
    clear:both;
}

/* breadcrumbs */
.breadcrumb {
    list-style: none;
    display: block;
    margin: 0;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
    padding: 15px 0;
    text-transform: uppercase;
    color: #ccc;
    text-shadow: none;
    font-size: 11px;
}

/* misc */
.contrib-card {
    padding: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
    .contrib-card img {
        height: 50px;
        width: 50px;
    }
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 596.98px) {
    .drawer-logo {
        height: 56px;
    }

    .logo-img {
        height: 38px;
    }
}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

  .drawer-footer span,
  .drawer-profile span,
  .brand {
    display: none;
  }

  .mdc-drawer__content,
  .mdc-drawer,
  .app-sidebar {
    width: 52px !important;
  }
        .app-sidebar span {
            display: none;
        }

    .mdc-drawer.mdc-drawer--open:not(.mdc-drawer--closing) + .mdc-drawer-app-content {
      margin-left: 52px !important;
      transition: margin-left .2s ease-in-out;
    }

    .mdc-top-app-bar__title {
        padding-left: 0 !important;
    }

    .drawer-footer {
        padding: 0;
    }

    .login-container .mdc-card {
        padding: 20px;
        width: 300px;
    }

    .login-container .mat-accordion {
        width: 300px;
    }

    .loading-container {
        padding: 10px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}
