@using Microsoft.AspNetCore.Components
@inject IdentityAuthenticationStateProvider authStateProvider

@if (IsLoggedIn)
{
    <div class="drawer-profile">
        <MatIconButton Icon="account_circle" Link="/account/profile"></MatIconButton>
        <span class="miniHover"><b><a href="/account/profile">@userInfo.UserName</a></b></span>
    </div>
}

@code {
    public bool IsLoggedIn = false;
    UserInfoDto userInfo = null;

    protected override async Task OnParametersSetAsync()
    {
        userInfo = await authStateProvider.GetUserInfo();
        IsLoggedIn = userInfo.IsAuthenticated;
    }
}