@inject IStringLocalizer<Global> L
@using System
@inject IApiClient apiClient
@inject IViewNotifier viewNotifier

<MatTable Items="@DatasetResponse" style="width:stretch" class="mat-elevation-z5" AllowSelection="true" SelectionChanged="DatasetSelectionChangedEvent">
    <MatTableHeader>
        <th>Type</th>
        <th>Name</th>
    </MatTableHeader>
    <MatTableRow>
        <td>@context.Type</td>
        <td>@context.Name</td>
    </MatTableRow>
</MatTable>

@code {
    [Parameter]
    public List<GetDatasetsResponseDto> DatasetResponse { get; set; }

    [Parameter]
    public StartAutoMLRequestDto SelectedDataset { get; set; }

    [Parameter]
    public EventCallback<StartAutoMLRequestDto> SelectedDatasetChanged { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private async void DatasetSelectionChangedEvent(object row)
    {
        if (row == null)
        {
            SelectedDataset.DatasetName = null;
            SelectedDataset.DatasetType = null;
        }
        else
        {
            SelectedDataset.DatasetName = ((GetDatasetsResponseDto)row).Name;
            SelectedDataset.DatasetType = ((GetDatasetsResponseDto)row).Type;
        }
        await SelectedDatasetChanged.InvokeAsync(SelectedDataset);
    }



}
