<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly">
        <NotFoundContent>
            <LoadingBackground ShowLogoBox="true">
                <label>Sorry, there's nothing at this address.</label><br />
                <MatButton Link="/">Home</MatButton>
            </LoadingBackground>
        </NotFoundContent>
        <NotAuthorizedContent>
            <LoadingBackground ShowLogoBox="true">
                <label>Sorry, You're not authorized to reach this page. You may need to log in as a different user.</label><br />
                <MatButton Link="/">Home</MatButton>
            </LoadingBackground>
        </NotAuthorizedContent>
    </Router>
</CascadingAuthenticationState>
<MatToastContainer />

