@page "/externalauth/confirm"

@inject IStringLocalizer<Global> L

<div class="loading-container">
    <MudIcon Icon="@Icons.Material.Filled.Check" Color="Color.Primary" Style="font-size: 7em" />
    <h1>@L["External authentication success - check your email inbox for confirmation email and login again"]</h1>
</div>