@inherits ErrorPage
@page "/externalauth/error/{ErrorEnumValue}"
@page "/externalauth/error/{ErrorEnumValue}/{Description}"

<MatCard>
    <div class="logo" style="padding: 50px;">
        <img src="_content/BlazorBoilerplate.Theme.Material/images/logo.svg" style="width:100px;" /><br />BlazorBoilerplate
        <br />
        <h4>External authentication error</h4>
        <h4>@errorText</h4>
        <h5>@Description</h5>
        <MatButton Link="/" Raised="true">Home</MatButton>
    </div>
</MatCard>

@code {

}
