@page "/externalauth/confirm"

@inject AppState appState
@inject NavigationManager navigationManager
@inject HttpClient Http
@inject AuthenticationStateProvider authStateProvider
@inject IStringLocalizer<Global> L
@inject IViewNotifier viewNotifier
<MatCard>
    <div class="logo" style="padding: 50px;">
        <img src="_content/BlazorBoilerplate.Theme.Material/images/logo.svg" style="width:100px;" /><br />BlazorBoilerplate
        <br />
        <h4>External authentication success - check your email inbox for confirmation email and login again</h4>
        <MatButton Link="/" Raised="true">Home</MatButton>
    </div>
</MatCard>

@code {



}
