<div>
  <h1>
    <img style="width:100px; vertical-align: middle;" src="https://blazorboilerplate.com/images/logo.png" alt="Blazor Boilerplate"/> Blazor Boilerplate
  </h1>
  <h3>Dear {name},</h3>
  <p>
    You requested for a password reset, kindly use this <a href="{callbackUrl}">link</a> to reset your password.
  </p>
  <br/>
  <p>Cheers!</p>
 </div>