<div>
  <h1>
    <img style="width:100px; vertical-align: middle;" src="https://blazorboilerplate.com/images/logo.png" alt="Blazor Boilerplate"/> Blazor Boilerplate
  </h1>
  <h3>Dear {userName},</h3>
  <p>Your password has been successfully reset, you can now login with your new password.</p>
  <br/>
  <div>
    Cheers!
  </div>
</div>