$mdc-theme-primary: #5D2E8F;
$mdc-theme-secondary: #fbaf41;
$mdc-theme-on-primary: #495f90;
$mdc-theme-on-secondary: #ffe172;
$mdc-theme-text-primary: #ffffff;
$mdc-theme-text-secondary: #333;
$mdc-theme-text-on-primary: #001037;
$mdc-theme-text-on-secondary: #c48003;
$mdc-theme-surface: #263238;

$additional-info-color: #636c72;