@implements IDynamicComponent

<div class="d-none d-md-flex align-center">
    <MudTooltip Text="Admin">
        <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Inherit" Link="/admin" />
    </MudTooltip>
    <SelectCulture />
</div>
<MudMenu Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Dense="true" Direction="Direction.Right" OffsetY="true" Class="d-md-none">
    <div class="px-2">
        <MudTooltip Text="Admin">
            <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Inherit" Link="/admin" />
        </MudTooltip>
    </div>
    <SelectCulture />
</MudMenu>

@code {
    public int Order { get => 1; }
    public string IntoComponent { get => "TopRightBarSection"; }
}
