@implements IDynamicComponent
@inject AppState appState

<div style="display:flex; flex-direction:row; justify-content:flex-start">

    <a href="/imprint" style="margin-right:10%">Imprint</a>

    <a href="/privacy">Privacy</a>

</div>
<!-- <a href="//github.com/hochschule-darmstadt/MetaAutoML-Frontend">@appState.AppName</a>&nbsp;Version 2.0.0 - Developed by&nbsp;<a href="/impressum">Hochschule Darmstadt</a> -->

@code {
    public int Order { get => 1; }
    public string IntoComponent { get => "Footer"; }
}
