@implements IDynamicComponent
@inject AppState appState
©&nbsp;@DateTime.Now.Year&nbsp;<a href="//blazorboilerplate.com">@appState.AppName</a>&nbsp;Version 2.0.0 - Developed by&nbsp;<a href="https://keithfimreite.com" target="_blank">Enkode LLC</a>&nbsp;
and&nbsp;<a href="https://github.com/enkodellc/blazorboilerplate/graphs/contributors" target="_blank">Github Contributors</a>.

@code {
    public int Order { get => 1; }
    public string IntoComponent { get => "Footer"; }
}
