@implements IDynamicComponent
@inject AppState appState

©&nbsp;@DateTime.Now.Year&nbsp;<a href="//blazorboilerplate.com">@appState.AppName</a>&nbsp;Version 0.8.0 - Developed by&nbsp;<a href="https://keithfimreite.com" target="_blank">Enkode LLC</a>&nbsp;
<TenantInfo />
@code {
    public int Order { get => 1; }
    public string IntoComponent { get => "Footer"; }
}
